---
layout: default
title: 7.的博客
---
{% include showcase.html %}
{% include greeting.html %}


<div class="recent-posts">
  <!--<h1>Recent Posts</h1>-->
    {% for post in paginator.posts %}
    <h4>
        <!--{{post.date | date_to_string}}-->
        <a class="anchor" href="{{post.url}}" aria-hidden="true"><span
                class="octicon octicon-link">{{post.title}}</span></a>
        <small>{{ post.date | date: "%Y-%m-%d" }}</small>
    </h4>
    <!--<p>{{ post.excerpt }}</p>-->
    {% endfor %}

    <!--分页-->
    <nav>
        <ul class="pagination">
            {% if paginator.previous_page %}
            <li>
                {% if paginator.previous_page == 1 %}
                <a href="/" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% else %}
                <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}

            </li>
            {% else %}
            <li class="disabled">
                <a href="javascript:void(0);" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% if paginator.page == 1 %}
            <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="/">1</a></li>
            {% endif %}

            {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                    <li class="active">
                        <span>{{ count }}<span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li><a href="/page{{ count }}">{{ count }}</a></li>

                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li>
                <a href="{{ paginator.next_page_path }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>