<div class="col-md-3 sidebar">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img class="head" src="{{site.baseurl}}resources/img/head.gif" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="author-info">
                <h3>夕陽</h3>
                <ul class="list-unstyled blog-author-info">
                    <li>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:zhaojunbest@126.com">zhaojunbest@126.com</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-time"></span>
                        2014-06-10
                    </li>
                </ul>
                <ul class="list-inline">
                    <li><a href="https://github.com/jackzhaojun" target="_blank" class="icon-github"></a></li>
                    <li><a href="http://weibo.com/0902tn" target="_blank" class="icon-weibo"></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>